.order {
	width: 70%;
	margin: 0 auto;
}

.nav-action {
	margin-top: 8px;
	margin-right: 10px;
	float: right;
}
.info {
	font-weight: bold;
	padding-left: 7%
}

.info .content {
	padding: 3%;
	font-weight: normal;
}

.seat {
	padding-left: 9%; 
}

.seat label .title {
	padding-right: 48px;
}

.seat label input[type="number"] {
	width: 50px;
	height: 34px;
	padding-left: 2px;
	border-radius: 4px;
	border: 1px solid #ccc;
}