body {
	background-color: #EEE;
}
.nav-action {
	margin-top: 8px;
	margin-right: 10px;
	float: right;
}
.small-panel {
	display: inline-block;
	width: 20%;
	margin-right: 20px;
}
.panel-group {
	padding: 20px;
}

#movieArea, #theaterArea{
	margin: 10px 10px;
	background-color: #FFF;
	padding: 10px;
}

#theaterArea .panel-body img {
	float: left;
}
#theaterArea .panel-body .detail {
	margin-left: 20%;
	margin-top: 3%;
}
